body {
    background-color: #003200;
    margin: 0px;
}

.cell:hover {
  fill : #EB0202;
}

.hGroup {
  display: flex;
  flex-direction: row;
  align-items : center;
  background: tomato;
}

.vGroup
{
  display: flex;
  flex-direction: column;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=4000u0kuiiUvNtru4nlwudexs7O */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #970808 }	/* Main Primary color */
.color-primary-1 { color: #EB0202 }
.color-primary-2 { color: #BA0B0B }
.color-primary-3 { color: #690000 }
.color-primary-4 { color: #3E0000 }

.color-secondary-1-0 { color: #055A5A }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #018D8D }
.color-secondary-1-2 { color: #077070 }
.color-secondary-1-3 { color: #003F3F }
.color-secondary-1-4 { color: #002525 }

.color-secondary-2-0 { color: #608D08 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #92DB01 }
.color-secondary-2-2 { color: #77AE0A }
.color-secondary-2-3 { color: #426200 }
.color-secondary-2-4 { color: #273A00 }

.color-complement-0 { color: #067806 }	/* Main Complement color */
.color-complement-1 { color: #01BC01 }
.color-complement-2 { color: #099509 }
.color-complement-3 { color: #005400 }
.color-complement-4 { color: #003200 }

